* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #333;
  }
  
  img {
    width: 100%;
  }
  
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1em 0;
  }
  .header__nav {
    width: 100%;
    padding: 1em 0;
  }
  
  .logo {
    text-align: center;
    max-width: 70%;
  }
  .logo__link {
    display: inline-block;
    padding: 1em;
  }
  .logo__img {
    width: 50%;
  }
  
  .menu-toggler {
    margin-left: auto;
    cursor: pointer;
  }
  
  .menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu__link {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #7C56BE;
    font-weight: 700;
    transition: 0.3s;
  }
  .menu__link:hover {
    color: #F47340;
    border-bottom: 1px solid #F47340;
  }
  
  .menu-show {
    display: block;
  }
  
  .container {
    padding: 0 15px;
  }
  
  .about {
    width: 80%;
    margin: 0 auto;
    background-color: #F3F1F5;
  }
  .about__title {
    color: #7C56BE;;
    font-size: 38px;
  }
  .about__inner {
    padding: 1.5em 0;
  }
  .about img {
    width: 80%;
    border-radius: 50%;
  }
  .about p {
    line-height: 25px;
    font-size: 20px;
  }
  /* contacts */
  .contacts {
    margin: 80px 0;
  }
  .contacts h4{
    margin: 0;
    padding: 0;
  }
  .contacts p {
    margin: 0;
  }
  .contacts ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .contacts li {
    text-align: left;
  }
  /* skills section */
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
  }
  .skills li {
    padding: 10px 25px;
    background-color: rgb(218, 211, 255);
    border-radius: 4px;
  }
  /* code-example section */
  .code-example {
    background-color: #F3F1F5;
    width: 80%;
    margin: 20px auto;
    padding-top: 10px;
  }
  .code-example pre {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-radius: 8px;
  }
  
  .portfolio {
    width: 80%;
    margin: 20px auto;
    background-color: #F3F1F5;
    padding: 10px;
  }
  .portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .portfolio__item {
    margin-bottom: 1em;
    padding: 0.7em;
    text-align: left;
  }
  .portfolio p {
    line-height: 20px;
  }
  .portfolio img {
      width: 100%;
      height: 250px;
      object-fit: cover;
  }
  .portfolio__list a {
      display: inline-block;
      padding: 10px 45px;
      color: #fff;
      text-decoration: none;
      background-color: #F47340;
      border-radius: 4px;
      transition: all 0.3s;
  }
  
  .blog {
    width: 80%;
    margin: 0 auto;
    background-color: #F3F1F5;
  }
  .blog__inner {
    padding: 1em 0;
  }
  .blog__inner a:hover{
    color: #F47340;
  }
  .blog__post {
    margin-bottom: 1em;
  }
  .blog__post img {
    display: block;
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog__excerpt {
    margin: 0;
    padding: 0.7em;
    background-color: #d5dff1;
  }
  .blog__post-link {
    text-decoration: none;
  }
  .team-work a {
    text-decoration: none;
    color:#7C56BE;
  }
  .team-work a:hover {
    color:#F47340;
  }
  .education a {
    text-decoration: none;
    color:#7C56BE;
  }
  .education a:hover {
    color:#F47340;
  }
  .footer__copy {
    text-align: center;
  }
  .footer a {
    text-decoration: none;
  }
  .footer a:hover {
    color:#F47340;
  }
  h2 {
    color: rgb(3, 3, 138);
  }
  
  @media (min-width: 768px) {
    .menu-toggler {
      display: none;
    }
    .contacts li {
      display: flex;
      flex-direction: column;
    }
    .header__nav {
      width: 80%;
      margin-left: auto;
    }
  
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
    .menu__item + .menu__item {
      margin-left: 0.5em;
    }
    .menu__link {
      border: none;
      padding-left: 1em;
      padding-right: 1em;
      color: #333;
      font-size: 18px;
    }
  
    .logo {
      max-width: 30%;
    }
  
    .about__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .portfolio__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
  
    .blog__posts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
  }
  h2 {
    color: rgb(3, 3, 138);
  }
  @media (min-width: 992px) {
    .container {
      max-width: 1140px;
      margin: 0 auto;
    }
    
    .portfolio__list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .blog__posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }